@page "/UserPage"
@using ApiContracts.Users
@using BlazorApp1.Services
@using Microsoft.AspNetCore.Components
<h3>UserPage</h3>

<input @bind="userId"/>
<button class="btn btn-primary" @onclick="GetUser">Get user</button>

<br/>

<input @bind="userUsername"/>
<input @bind="userPassword"/>
<button class="btn btn-primary" @onclick="CreateUser">Create user</button>

<br/>

<h3>Gotten user: @user.Id, @user.Username, @user.Password</h3>

@code {
    [Inject] public IUserService UserService { get; set; }
    private string userUsername;
    private string userPassword;
    private int userId;
    private UserDto user = new UserDto();
    
    async void GetUser()
    {
        user = await UserService.GetSingleUserAsync(userId);
        await InvokeAsync(StateHasChanged);
    }
    
    async void CreateUser()
    {
        user = await UserService.AddUserAsync(new CreateUserDto
        {
            Username = userUsername,
            Password = userPassword
        });
        await InvokeAsync(StateHasChanged);
    }
}