@using BlazorApp1.Auth
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components
@inject AuthenticationStateProvider AuthProvider


<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="px-2">Hello, @context.User.Identity.Name</span>
                    <button class="btn btn-link" @onclick="Logout">Logout</button>
                </Authorized>
            </AuthorizeView>
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>

        </div>


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

    private async Task Logout()
    {
        if (AuthProvider is SimpleAuthProvider simpleAuthProvider)
        {
            simpleAuthProvider.Logout();
            NavManager.NavigateTo("/login");
        }
    }

}